body{
    text-align: center;
}
body .topIntroduce{
    text-align: center;
    font-size: large;
    font-style: italic;
}

body #Git_span{
    text-align: center;
    color: brown;
    background-color: aqua;
}
body #Command_span{
    text-align: center;
    background-color: blanchedalmond;
    color: blueviolet;
}
body .topBanner{
    font-size: medium;
    background-color: greenyellow;
    color: darkviolet;
    text-align: center;
    padding-right:0%;
    padding-left: 0%;
    /* width: fit-content; */
}
body .main{
    font-size: small;
    background-color: bisque;
}
body a{
    text-decoration: none;
}
a:hover{
    background-color: black;
    color: white;
    font-size: larger;
}
#gimg{
    text-align: center;
}